<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

     <form action="/editData" method="POST" enctype="multipart/form-data">
        <table style="width:400px" align="center"  class="table table-bordered">
            <input name="id" value="<%= data.id %>" hidden type="text" >
            <tr>
                <th>name</th>
                <td><input name="name" value="<%= data.name %>" type="text" ></td>
            </tr>
            <tr>
                <th>email</th>
                <td><input name="email" value="<%= data.email %>" type="text" ></td>
            </tr>
            <tr>
                <th>phone</th>
                <td><input name="phone" value="<%= data.phone %>" type="number" ></td>
            </tr>
        
            <tr>
                <th>password</th>
                <td><input name="password" value="<%= data.password %>" type="text" ></td>
            </tr>
            <tr>
                <th>Image</th>
                 <td> 
                    <img width="100px" src="<%= data.image %>" />
                    <input name="image" value="<%= data.password %>" type="file" >
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-warning btn-sm">Update</button>
                </td>
            </tr>
        
        </table>
    </form>






</body>
</html>